SNOWFLAKE_ACCOUNT=your-org-your-account
SNOWFLAKE_USER=
SNOWFLAKE_PRIVATE_KEY_PATH=~/.snowflake/dbt_streamify_key.p8
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=STREAMIFY_DEV
SNOWFLAKE_SCHEMA=DBT_KIRIL
